body {
    background-image: url("../bg1.jpg");
    background-color: rgb(12, 178, 243);
    min-height: 100%;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

input[type=text], input[type=password] {
    width: 70%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

.container {
    border-raduis: 5px;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.5);
    width: 30%;
    border-style: ridge;
    border-color: aliceblue;
}

.bookTable {
    border-raduis: 5px;
    padding: 10px;
    background-color: rgba(220, 220, 220, 0.5);
}

table {
    border-collapse: collapse;
}

td + td,
th + th {
    border-left: 1px solid gray;
    padding: 2px 5px;
}

tr + tr {
    border-top: 1px solid gray;
}

th {
    border-bottom: 1px solid black;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.deleteButton {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.button1 {
    background-color: rgb(27, 36, 66);
    color: white;
    padding: 10px 5px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}
.button3 {
    background-color:  #4CAF50;
    color: white;
    padding: 10px 5px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
.button3 {
    background-color:  #4CAF50;
    color: white;
    padding: 10px 5px;
    margin: 1px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}