<!DOCTYPE HTML>
<html>

    <head>
        <title>Edit Bookstore</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src="js/scripts.js"></script>
        <script src="js/editBookstore.js"></script>
        <link rel="stylesheet" href="css/editBookstore.css">
    </head>

    <body>
        <form action="/viewBookstoreOwner" method="get">
            <input id="ownerId" type="hidden" name="bookstoreOwnerId"  />
            <input type="submit" value="Back to BookstoreOwner" class="button1"/>
        </form>
        <form action="/perform_logout">
            <input type="submit" value="Log out" class="button1"/>
        </form>
        <br><br>
        <div class="container">  
             <h1>Current Bookstore</h1>
        <div id="bookstoreInfo">
        </div>
        </div>
        <h2>Add Book</h2>
        <form id="addBook" action="#" method="post" class="container">
            <label>Name:</label><br>
            <input type="text" name="name"><br><br>
            <label>ISBN:</label><br>
            <input type="text" name="isbn"><br><br>
            <label>Picture:</label><br>
            <input type="text" name="picture"><br><br>
            <label>Description:</label><br>
            <input type="text" name="description"><br><br>
            <label>Author:</label><br>
            <input type="text" name="author"><br><br>
            <label>Publisher:</label><br>
            <input type="text" name="publisher"><br><br>
            <input type="submit" value="Add Book" class="button">
        </form>
        <h2>Books</h2>
        <div id="booksMessage" class="container">There are currently no books in this bookstore.</div>
        <table id="books" class="bookTable">
        </table>
    </body>
</html>