<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <h1>Create Bookstore Owner</h1>
    <p>Please include all mandatory fields as indicated by (*). No parameter authentication yet.</p>

    <form id="ownerCreate" th:action="@{/newBookstoreOwner}" method="post">
        <label>(*) Name:</label>
        <input type="text" name="name"><br><br>
        <label>(*) Username:</label>
        <input type="text" name="username"><br><br>
        <label>(*) Password:</label>
        <input type="text" name="password"><br><br>
        <input type="submit" value="New Owner" />

    </form>

    <h1>Create Customer</h1>
    <form id="customerCreate" th:action="@{/newCustomer}" method="post">
        <label>(*) Name:</label>
        <input type="text" name="name"><br><br>
        <label>(*) Username:</label>
        <input type="text" name="username"><br><br>
        <label>(*) Password:</label>
        <input type="text" name="password"><br><br>
        <label>Address:</label>
        <input type="text" name="address"><br><br>
        <label>Email:</label>
        <input type="text" name="email"><br><br>
        <label>phoneNumber:</label>
        <input type="text" name="phoneNumber"><br><br>
        <input type="submit" value="New Customer" />
    </form>

    <h1>Or login</h1>
    <form action="/login">
        <input type="submit" value="Go to login page" />
    </form>
</body>

</html>

<script>
    $(document).ready(function(){
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    var auth = function(username, password){
        $.ajax
        ({
            type: "GET",
            url: "/login",
            dataType: 'json',
            async: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
            },
            success: function (data) {
            }
        });
 
    }

    var createUser = function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.

        var form = $(this);
        var url = form.attr('action');
        var textObj = form.serializeObject();
        var text = JSON.stringify(textObj);
        console.log(textObj);

        var call = $.ajax({
            type: "POST",
            url: url,
            data: text, // serializes the form's elements.
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            success: function (data) {
                alert("Account successfully created, please log in");
                window.location.href = "/login"
            }
            ,
            failure: function (err) {
                alert("failed");
            }
        });
    }

    $("#ownerCreate").submit(createUser);
    $("#customerCreate").submit(createUser);
    })

</script>