<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Shop BookStore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="js/scripts.js"></script>
    <script src="js/shopBookstore.js"></script>
    <link rel="stylesheet" href="css/editBookstore.css">
</head>

<body>
    <form action="/viewCustomer" method="get">
        <input id="customerId" type="hidden" name="customerId" />
        <input type="submit" value="Back to Customer" class="button1"/>
    </form>
    <form action="/perform_logout">
        <input type="submit" value="Log out" class="button1"/>
    </form>
    <br>
    <div class="container">
    <div id="bookstoreInfo">

    </div>
    </div>
    <br>

    <div class="container">
    <div id="customerInfo">

    </div>
    </div>
    <br>

    <div class="containerbook">
    <h1>Books</h1>
    <div id="booksMessage" class="container">There are currently no books in this bookstore.</div>
    <table id="books" class="bookTable">
    </table>
    </div>
</body>


</html>