<!DOCTYPE HTML>
<html>

    <head>
        <title>Customer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
        <script src="js/scripts.js"></script>
        <script src="js/viewCustomer.js"></script>
    </head>

    <body>
        <form action="/" method="get">
            <input type="submit" value="Home"/>
        </form>
        <form action="/perform_logout">
            <input type="submit" value="Log out" />
        </form>
        <h1>Customer</h1>
        <div id="customerInfo">

        </div>

        <h1>ShoppingCart Contents</h1>
        <table id="shoppingcart">
            <tr>
                <form id="checkout" action="#"  method="post">
                    <input type="submit" value="Checkout"/>
                </form>
            </tr>
            <tbody id="books">
            </tbody>
        </table>

        <h1>Shop Bookstores</h1>
        <table id="bookstores">
        </table>

        <h1>Orders</h1>
        <table id="sales">
        </table>

        <h1>Book Recommendations</h1>
        <div id="emptyMessage">No recommendations to show</div>
        <table id="bookRecommendationTable">
        </table>
    </body>

</html>