<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
        <form action="#" th:action="@{/}" method="get">
            <input type="submit" value="Home"/>
        </form>
        <h1>Customer</h1>
        <p th:text="'Customer ID: ' + ${customer.getId()}" />
        <p th:text="'Customer Name: ' + ${customer.getName()}" />

        <h1>ShoppingCart Contents</h1>
        <table>
            <th:block th:each="book: ${customer.getShoppingCart().getBooks()}">
                <tr>
                    <td><a th:href="" th:text="${book.getName()}"></a></td>
                    <td>
                        <form action="#" th:action="@{/removeBookFromCart}" method="post">
                            <input type="submit" value="Remove Book From Cart"/>
                        </form>
                    </td>
                </tr>
            </th:block>
        </table>
    </body>
</html>