<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookStoreOwner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src="js/scripts.js"></script>
    <script>
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>
</head>
    <body>
        <form action="/" method="get">
            <input type="submit" value="Home"/>
        </form>
        <form action="/perform_logout">
            <input type="submit" value="Log out" />
        </form>
        <h1>BookStoreOwner</h1>
        <div id="bookstoreOwnerInfo"/>
        <form id="create-store-form" action="#" method="post">
            <input type="hidden" name="bookstoreOwnerId" value="${bookstoreOwner.getId()}" />
            <input type="submit" value="Add Bookstore"/>
        </form>
        <h1>Bookstores</h1>
        <!--<table id="bookstores">
            <tbody id="bookstoreList"/>
            <tr>
                <form id="delete-store-form" action="#" method="post">
                    <input type="hidden" name="bookstoreOwnerId" value="${bookstoreOwner.getId()}" />
                    <input type="hidden" name="bookstoreId" value="${bookstore.getId()}" />
                    <input type="submit" value="Remove Bookstore"/>
                </form>
            </tr>
        </table>-->
    </body>
</html>

<script>
        var newStore = {};
        var bookstoreOwner = {};

        var populateBookstoreOwnerInfo = function(){
            $.ajax({
                type: 'GET',
                url: "/api/bookstoreowners/"+urlParam('bookstoreOwnerId'),
                headers: {
                    'Accept':'application/json'
                },
                success: function(data){
                    let infoDiv = $("#bookstoreOwnerInfo")
                    infoDiv.append("<p>Bookstore Owner: "+data.name+"</p>");
                    infoDiv.append("<p>Bookstore Owner ID: "+data.id+"</p>");
                },
                failure: function(err){
                    alert("Failed to get owner info with err:"+err);
                }
            })
        }

        var populateBookstoreList = function (){
            $.ajax({
                type: "GET",
                url: "/api/bookstoreowners/"+urlParam('bookstoreOwnerId')+"/bookstores",
                headers: {
                    'Accept':'application/json'
                },
                success: function (data) {
                    let bookstoresTable = $('#bookstoreList')
                    $.each(data, function(){

                    })
                }
            })
        }
        var createNewBookstore = function(e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/api/newBookstore",
                headers: {
                    'Accept': 'application/json'
                },
            });

        }*/

        /*var removeBookstore = function(e){
            e.preventDefault();
            var call = $.ajax({
                type: "POST",
                url: "/api/"
                headers: {
                    'Accept': 'application/json'
                },
            });
        }*/

       // $('#create-store-form').submit(createNewBookstore);
       // $('#delete-store-form').submit(removeBookstore);

        populateBookstoreOwnerInfo();
        populateBookstoreList();
</script>