<!DOCTYPE HTML>
<html>
<head>
    <title>BookStore Contents</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/viewAddressBook.js"></script>
</head>
<body>
<form action="#" action="/index" method="get">
    <input type="submit" value="All AddressBooks"/>
</form>
<p th:text="'BookStore ID: ' + ${addressBook.getId()}" />
<h1>Add Buddy</h1>
<form action="/addBuddy" method="post">
    <input type="hidden" id="id" name="id" th:value="${addressBook.getId()}" />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="phonenumber">Phone Number:</label>
    <input type="text" id="phonenumber" name="phonenumber"><br><br>
    <input type="submit" value="Add Buddy">
</form>
<h1>Buddies</h1>
<table>
    <th:block th:each="buddy: ${addressBook.getBuddies()}">
        <tr>
            <td th:text="${buddy.name}"></td>
            <td th:text="${buddy.phoneNumber}"></td>
            <td>
                <form action="#" th:action="@{/removeBuddy}" method="post">
                    <input type="hidden" id="addressBookId" name="id" th:value="${addressBook.getId()}" />
                    <input type="hidden" id="buddyName" name="name" th:value="${buddy.name}" />
                    <input type="hidden" id="buddyPhoneNumber" name="phonenumber" th:value="${buddy.phoneNumber}" />
                    <input type="submit" value="Remove Buddy"/>
                </form>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>
